In [1]:
#1
a = list(range(2, 101, 2))
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [3]:
#2
for i in range(1, 51) :
    if i % 5  == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [4]:
#3
price_list = [32100, 32150, 32000, 32500]

for idx, i in enumerate(price_list) :
    print(idx, i)

0 32100
1 32150
2 32000
3 32500

In [7]:
#4
d = {}
for i in range(2, 10) :
    l = []
    for j in range(1, 10) :
        l.append(i*j)
    d[i] = l
print(d)

{2: [2, 4, 6, 8, 10, 12, 14, 16, 18], 3: [3, 6, 9, 12, 15, 18, 21, 24, 27], 4: [4, 8, 12, 16, 20, 24, 28, 32, 36], 5: [5, 10, 15, 20, 25, 30, 35, 40, 45], 6: [6, 12, 18, 24, 30, 36, 42, 48, 54], 7: [7, 14, 21, 28, 35, 42, 49, 56, 63], 8: [8, 16, 24, 32, 40, 48, 56, 64, 72], 9: [9, 18, 27, 36, 45, 54, 63, 72, 81]}

In [12]:
#5
car_num = [[1011, 1022], [1201, 7202], [2301, 1302]]
for i in car_num : 
    for j in i :
        print(f'차량번호 : {j}')
        
for i in range(3) :
    for j in range(2) : 
        print(f'차량번호 : {car_num[i][j]}')

차량번호 : 1011
차량번호 : 1022
차량번호 : 1201
차량번호 : 7202
차량번호 : 2301
차량번호 : 1302
차량번호 : 1011
차량번호 : 1022
차량번호 : 1201
차량번호 : 7202
차량번호 : 2301
차량번호 : 1302

In [15]:
# 주민등록번호
def jumin(a) : 
    if a[-7] == '1' :
        return '남성'
    else :
        return '여성'

In [16]:
jumin('960822-2148513')

'여성'

In [17]:
def jumin(a) :
    b = a.split('-')[1][0]
    if b == '1' :
        return '남성'
    else : 
        return '여성'

In [19]:
jumin('820327-2022421')

'여성'

In [20]:
#5
def sss(a) :
    phones = {"s5" : 2012, "s7" : 2016, "note8" : 2017, "s9" : 2018, "s10" : 2019}
    result = phones.get(a)
    return result

In [21]:
sss("s5")

2012

In [24]:
#6
def phone(a) :
    b = a.split('-')
    b[2] = '####'
    result = f'{b[0]} - {b[1]} - {b[2]}'
    return result

In [25]:
phone('010-3222-1234')

'010 - 3222 - ####'