In [1]:
num = 0

In [2]:
while num != 4 :
    num += 1

In [3]:
num

4

In [4]:
# 무한 루프
while True :
    print(num)
    num += 1
    if num == 10 :
        break

4
5
6
7
8
9

In [5]:
while num != 15 :
    num += 1
    if num == 20 :
        continue
    print(num)

11
12
13
14
15

In [6]:
for i in [1, 2, 3, 4] : 
    print(i)

1
2
3
4

In [7]:
for i, j in [(1,2),(3,4),(5,6)] :
    print(i, j)

1 2
3 4
5 6

In [8]:
for i, j, k in [(1, 2, 3), (4, 5, 6), (7, 8, 9)] :
    print(i, j, k)

1 2 3
4 5 6
7 8 9

In [9]:
# for문 + if문을 통해서 합격 여부를 맞추세요
#[90, 25, 67, 45, 80]라는 학생 5면의 점수를 for문으로 만들어서 합격 여부 맞추기

In [10]:
j = 0
for i in [90, 25, 67, 45, 80] :
    j = j + 1
    if i >= 60 :
        print(str(j) + "번 학생은 합격입니다.")
    elif i < 60 :
        print(str(j) + "번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [11]:
score = [90, 25,67, 45, 80]
for idx, i in enumerate(score) :
    if i >= 60 :
        #print(str(idx + 1) + "번 학생은 합격입니다.")
        print(f'{idx + 1}번 학생은 합격입니다.')
    else : 
        print(str(idx + 1) + "번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [12]:
for i in range(1, 10) :
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:
# 함수

In [14]:
def test(a, b, c) :
    d = a + b + c + 5
    return d

In [15]:
test(5, 4, 3)

17

In [16]:
def test2() :
    return 'hi'

In [17]:
test2()

'hi'

In [18]:
def test3() :
    print('hi')

In [19]:
a = test2()

In [20]:
a

'hi'

In [21]:
def test4(*args) :
    sum_list = []
    for i in args :
        sum_list.append(i+3)
    return sum_list

In [22]:
a = test4(1, 2, 3, 4, 5, 6, 7)

In [23]:
b = test4(1, 2, 3, 4)

In [24]:
a

[4, 5, 6, 7, 8, 9, 10]

In [25]:
b

[4, 5, 6, 7]

In [26]:
# 한 명의 점수만 넣어서 합격인지 불합격인지 리턴받는 함수 제작

In [27]:
def grade(score) :
    if score >= 60 :
        return "합격입니다."
    else :
        return"불합격입니다."

In [28]:
grade(40)

'불합격입니다.'

In [29]:
grade(62)

'합격입니다.'

In [30]:
def test_score(a, b = 60) : 
    try : 
        if a >= b : 
            return "합격"
        else : 
            return "불합격"
    except : 
        return "입력값을 변경해주세요."

In [31]:
test_score(69)

'합격'

In [32]:
test_score(67, 70)

'불합격'

In [33]:
test_score('20')

'입력값을 변경해주세요.'

In [34]:
def main() :
    print("안녕하세요.")
    try : 
        age = int(input("나이를 입력하세요 : "))
        print("입력하신 나이는 다음과 같습니다. : ", age)
    except ValueError : 
        print("입력이 잘못 되었습니다.")
    print("만나서 반가웠습니다.")

In [ ]:
main()

안녕하세요.

In [ ]:
main()

In [ ]:
def main() :
    while True : 
        print("안녕하세요.")
        try : 
            age = int(input("나이를 입력하세요 : "))
            print("입력하신 나이는 다음과 같습니다. : ", age)
            break
        except ValueError : 
            print("입력이 잘못되었습니다.")

In [ ]:
main()

In [ ]:
def main() :
    while True : 
        print("안녕하세요.")
        try : 
            age = int(input("나이를 입력하세요 : "))
            print("입력하신 나이는 다음과 같습니다. : ", age)
        except ValueError : 
            print("입력이 잘못되었습니다.")
            main()

In [ ]:
main()

In [ ]:
# lambda

In [ ]:
def show(s) :
    print(s)

In [ ]:
show("안녕하세요.")

In [ ]:
ans = lambda s : print(s)

In [ ]:
ans

In [ ]:
ans("안녕하세요")

In [ ]:
lst = ['가렌', '파이크', '트리스타나', '카타리나']

In [ ]:
#map, filter

In [ ]:
list(map(lambda x : '챔피언 ' + x, lst))

In [ ]:
for i in lst : 
    champ = '챔피언'  + i
    champ_list.append(champ)

In [ ]:
champ_list = []

In [ ]:
champ_list

In [ ]:
list(filter(lambda x : x if len(x) == 3 else '', lst))

In [ ]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(filter(lambda x : x if x > 4 else "", num_list))

In [ ]:
num_list

In [ ]:
list(map(lambda x : x * 2, num_list))

In [ ]:
num_list

In [ ]:
list(filter(lambda x : x if x%2 == 0 else "", num_list))

In [ ]:
def sum_num(x) : 
    b = x * 2
    return b

In [ ]:
list(map(lambda x : sum_num(x), num_list))

In [ ]:
#class

In [ ]:
result1 = 0
result2 = 0

In [ ]:
def add1(num) :
    global result1
    result1 += num
    return result

def add2(num) :
    global result2
    result2 += num
    return result

In [ ]:
add1(3)

In [ ]:
class Calc :
    def __init__(self, first, second) :
        self.result = 0
        self.first = first
        self.second = second
    def add(self, num) :
        self.result += num
        return self.result
    def multi(self) :
        mult = self.first * self.second
        return mult

In [ ]:
cal1 = Calc(4, 2)
#cal2 = Calc()

In [ ]:
cal1.add(3)
cal1.add(4)

In [ ]:
# 상속
class MoreCalc(Calc) : 
    def put(self, num) : 
        self.result -= num
        return self.result

In [ ]:
a = MoreCalc()

In [ ]:
a.put(3)

In [ ]:
# 파이썬 내부 함수
# len - 리스트의 길이를 반환하는 함수

In [ ]:
num_list = [1,2,3,4,5,6,78,55,9,41,2,15,15,5,78,1,2,3]

In [ ]:
len(num_list)

In [ ]:
max(num_list)

In [ ]:
min(num_list)

In [ ]:
# 반올림 함수
round(4.6)

In [ ]:
# zip

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

In [ ]:
list(zip(a, b))

In [ ]:
list(zip('abc', 'def'))

In [ ]:
# 1. 1부터 100까지의 정수 중 짝수만 저장된 리스트를 생성하라

In [ ]:
# 2. 1부터 50까지의 숫자 중 5의 배수를 출력하는 코드를 작성하시오

In [ ]:
# 3. 아래와 같이 리스트의 데이터를 출력하는 코드를 작성하시오

In [ ]:
#4. 반복문을 사용하여 다음과 같이 2단에서부터 9단까지의 구구단을 딕셔너리에 저장하는 코드를 구현하라

In [ ]:
# 5. 리스트에 아래의 데이터가 저장되어 있다고 가정했을 때, 반복문을 이용하여 아래와 같이 출력하시오.

In [ ]:
# 1

In [ ]:
even_list = list(filter(lambda x : x if x%2 == 0 else "", range(1, 100)))

In [ ]:
even_list

In [ ]:
# 2

In [ ]:
for i in range(1, 50) :
    if i%5 == 0 : print(i)

In [ ]:
# 3
price_list = [32100, 32150, 32000, 32500]
j = 0
for i in price_list : 
    print(str(j) + " " + str(i))
    j += 1

In [ ]:
#gugudan = list(filter(lambda x : x if x%2 == 0 else "", range(1, 100)))
#gugudan = [1* i for i in range(1, 10)]
gugudan = []
for i in range(1, 10) :
    gugudan.append([i * j for j in range(1, 10)])
gugudan

In [7]:
car_num = [[1011, 1022], [1201, 7202], [2301, 1302]]
for i, j in car_num :
    print("===================")
    print("차량 번호" + str(i))
    print("===================")
    print("차량 번호" + str(j))

===================
차량 번호1011
===================
차량 번호1022
===================
차량 번호1201
===================
차량 번호7202
===================
차량 번호2301
===================
차량 번호1302

In [ ]:
# 주민 등록번호 13 자리를 문자열로 입력 받아 받은 주민번호를 기반으로 남성인지 여성인지를 판별하여 반환하는 함수를 작성하시오.

In [ ]:
# 다음 데이터를 함수 내에 딕셔너리 형태로 저장한 다음, 함수의 매개변수 입력으로 딕셔너리의 키에 해당하는 문자열을 받으면, 키에 해당하는 값을 반환하는 함수를 작성하시오

In [ ]:
# 휴대전화 번호를 문자열 형태로 함수의 매개변수로 입력 받으면, 휴대전화 4개의 뒤자리를 ####으로 바꾸어 반환하는 함수를 작성하시오.

In [ ]:
#1
def psCode() :
    code = input("주민등록번호를 입력해주세요.")
    gender = code[7:8]
    if gender == '2' :
        print("여성")
    else :
        print("남성")

In [ ]:
psCode()

In [ ]:
def findValue() :
    phones = {"s5" : 2012, "s7" : 2016, "note8" : 2017, "s9" : 2018, "s10" : 2019}
    key = input("입력(문자열) : ")
    print(phones[key])

In [ ]:
findValue()

In [ ]:
#3
def replaceEscp() :
    number = input("입력(문자열) : ")
    replace = number[0:9]
    replace += "####"
    print(replace)

In [ ]:
replaceEscp()

In [ ]:
table_list = []
for i in range(1, 10) :  # 단수
        i = []
        for j in range(1, 10) : # 곱하는 수
            i.append(i * j)
        table_list.append(i)

In [ ]:
table_list

In [2]:
#replace, split

In [3]:
a = '탑, 정글, 미드, 원딜, 서폿'

In [4]:
a.split(',')

['탑', ' 정글', ' 미드', ' 원딜', ' 서폿']

In [5]:
a

'탑, 정글, 미드, 원딜, 서폿'

In [6]:
a.replace('원딜', '바텀')

'탑, 정글, 미드, 바텀, 서폿'